.generics {

    margin-top: 0.1rem;
    height:10rem;
    width:100%;
    background: rgb(35, 31, 31);
    text-align: center;
    color: white;
    font-weight: bold ;
    font-size: 5rem;
}
.form {
    border: 1px solid black;
    margin-top: 1rem;
    margin-left: 30rem;
    margin-right: 30rem;
    display: "flex";
        align-items: "center";
        height: "100%";
        justify-content: center;
        padding: 1rem
}
.name {
   
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;

}

.name label {
font-weight: bold;
margin-bottom: 0.5rem;
display: block;
width: 10rem;
}

.name input {
font: inherit;
padding: 0.5rem;
border-radius:  1rem;
border: 1px solid #ccc;
width: 20rem;
max-width: 100%;
border-radius: 2rem;
}
.emailID {

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;

}

.emailID label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    width: 10rem;
}

.emailID input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
    border-radius: 2rem;

}

.number {
display: flex;
flex-wrap: wrap;
gap: 1rem;
margin-bottom: 1rem;
text-align: left;
}

.number label {
font-weight: bold;
margin-bottom: 0.5rem;
display: block;
width: 10rem;
}
.number input {
font: inherit;
padding: 0.5rem;
border-radius: 1rem;
border: 1px solid #ccc;
width: 20rem;
max-width: 100%;
border-radius: 2rem;
}
.form button {
    border-radius: 1rem;
    padding: 2%;
    background: teal;
}