.generics {
    text-align: center;
    margin-top: 0.1rem;
    height:15rem;
    width:100%;
    background: rgb(35, 31, 31);
    color: white;
    font-weight: bold ;
 
    
}

.generics p {
    font-size: 5rem;
  

}

.latest {
    text-align: center;
    margin: auto;  
    border: 1px solid teal;
    background:rgb(35, 31, 31) ;
    color: white;
    padding: 15px,30px;

    
}

.play {
    border-radius: 50%;
    background:rgb(35, 31, 31) ;
    color: teal;
    padding: 15px;
    margin: 1%;
    border: 1px solid teal;

}
.heading {
    text-align:center;
    font-weight: bold;
    margin: 1rem
}

.items {
    display:flex;
    border-bottom: 1px solid black;
    padding:10px
}

.date {
    width: 12%;
}

.place {
    width: 25%;
    color:#777;
}

.info {
    width: 50%;
    color:#777;
}

.ticketBtn {
    width:20%;
    background: teal;
    color:white;
    border: none;
    padding:7px;
    font-weight: 700;
    
}